// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "ls1024a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "QNAP TS-x31";
	compatible = "qnap,tsx31", "fsl,ls1024a";

	chosen {
		bootargs = "console=ttyS0,115200n8 earlyprintk";
		stdout-path = &uart1;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;

		pfe@0x03800000 {
			reg = <0x03400000 0xc00000>;
			no-map;
		};
	};

	a9dp_opp_table: a9dp_opp_table {
		compatible = "operating-points-v2";
		opp-shared;

		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
		};
		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
		};
		opp-300000000 {
			opp-hz = /bits/ 64 <300000000>;
		};
	};

	soc {
		poweroff {
			compatible = "qnap,power-off";
			reg = <0x96300000 0x100000>;
			clocks = <&clkcore LS1024A_CLK_DUS>;
		};
	};

	leds {
		compatible = "gpio-leds";
		hdd1-error {
			gpios = <&gpio 47 GPIO_ACTIVE_LOW>;
		};
		hdd2-error {
			gpios = <&gpio 46 GPIO_ACTIVE_LOW>;
		};
		hdd3-error {
			gpios = <&gpio 45 GPIO_ACTIVE_LOW>;
		};
		hdd4-error {
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
		};
	};
};

&cpu0 {
	operating-points-v2 = <&a9dp_opp_table>;
};
&cpu1 {
	operating-points-v2 = <&a9dp_opp_table>;
};

&i2c {
	clock-frequency = <400000>;
	status = "okay";

	s35390a@30 {
		compatible = "sii,s35390a";
		reg = <0x30>;
	};

	at24c04@50 {
		compatible = "atmel,24c04";
		reg = <0x50>;
		read-only;
	};

	at24c04@56 {
		compatible = "atmel,24c04";
		reg = <0x56>;
		read-only;
	};
};

&serdes0 {
	fsl,pcie-use-external-clk;
};

&serdes1 {
	fsl,pcie-use-external-clk;
	fsl,sata-txlev = <9>;
};

&uart0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0>;
};
&uart1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

&ls_spi {
	num-cs = <1>;
	/* Using a GPIO line is a workaround to enable the driver to really
	 * handle the chip select line. Otherwise, the controller releases the
	 * chip select as soon as the Tx FIFO is empty, which happens too
	 * quickly with a Tx FIFO depth of 8 words.
	 */
	cs-gpios = <&gpio 18 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi>;
	status = "okay";

	nor@0 {
		compatible = "en25q80b", "en25q80a", "jedec,spi-nor", "spidev";
		reg = <0>;
		spi-max-frequency = <4000000>;
		spi-cpha;
		spi-cpol;
		m25p,fast-read;
	};
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&sata {
	ports-implemented = <3>;
	status = "okay";
};

&usb3_phy {
	status = "okay";
};

&usb3 {
	dr_mode = "host";
	status = "okay";
};
